:root{
	/* 1920기준 */
	--font_18px: .9375vw;
	--font_36px: 1.875vw;
	--font_34px: 1.770vw;
	--font_basic: 16px;
	--font_small: 12px;
	--font_s_btn: 8px;
	--color_yellow: #ffdb00;
	--color_blue: #0058a2;
	--color_black: #191919;
	--color_white: #fdfdfd;
}


@font-face {
	font-family: THEmpgt;
	font-weight: 400;
	font-style: normal;
	src: url("../font/THEmpgtR.eot");
	src: url("../font/THEmpgtR.eot#iefix") format("embedded-opentype"),
		url("../font/THEmpgtR.woff") format("woff"),
		url("../font/THEmpgtR.woff2") format("woff2"),
		url("../font/THEmpgtR.otf") format("opentype");
}

@font-face {
	font-family: THEmpgt;
	font-weight: 500;
	font-style: normal;
	src: url("../font/THEmpgtM.eot");
	src: url("../font/THEmpgtM.eot#iefix") format("embedded-opentype"),
		url("../font/THEmpgtM.woff") format("woff"),
		url("../font/THEmpgtM.woff2") format("woff2"),
		url("../font/THEmpgtM.otf") format("opentype");
}

@font-face {
	font-family: THEmpgt;
	font-weight: 700;
	font-style: normal;
	src: url("../font/THEmpgtL.eot");
	src: url("../font/THEmpgtL.eot#iefix") format("embedded-opentype"),
		url("../font/THEmpgtL.woff") format("woff"),
		url("../font/THEmpgtL.woff2") format("woff2"),
		url("../font/THEmpgtL.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 400;
	font-style: normal;
	src: url("../font/NotoSansKR-Regular.eot");
	src: url("../font/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Regular.woff") format("woff"),
		url("../font/NotoSansKR-Regular.woff2") format("woff2"),
		url("../font/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 700;
	font-style: normal;
	src: url("../font/NotoSansKR-Bold.eot");
	src: url("../font/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Bold.woff") format("woff"),
		url("../font/NotoSansKR-Bold.woff2") format("woff2"),
		url("../font/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
	font-family: GothicA1;
	font-weight: 400;
	font-style: normal;
	src: url("../font/GothicA1-Regular.eot");
	src: url("../font/GothicA1-Regular.eot#iefix") format("embedded-opentype"),
		url("../font/GothicA1-Regular.woff") format("woff"),
		url("../font/GothicA1-Regular.woff2") format("woff2"),
		url("../font/GothicA1-Regular.otf") format("opentype");
}

@font-face {
	font-family: GothicA1;
	font-weight: 700;
	font-style: normal;
	src: url("../font/GothicA1-Bold.eot");
	src: url("../font/GothicA1-Bold.eot#iefix") format("embedded-opentype"),
		url("../font/GothicA1-Bold.woff") format("woff"),
		url("../font/GothicA1-Bold.woff2") format("woff2"),
		url("../font/GothicA1-Bold.otf") format("opentype");
}

@font-face {
	font-family: GothicA1;
	font-weight: 800;
	font-style: normal;
	src: url("../font/GothicA1-Black.eot");
	src: url("../font/GothicA1-Black.eot#iefix") format("embedded-opentype"),
		url("../font/GothicA1-Black.woff") format("woff"),
		url("../font/GothicA1-Black.woff2") format("woff2"),
		url("../font/GothicA1-Black.otf") format("opentype");
}

@font-face {
	font-family: BlackHanSans;
	font-weight: 800;
	font-style: normal;
	src: url("../font/BlackHanSans-Regular.eot");
	src: url("../font/BlackHanSans-Regular.eot#iefix") format("embedded-opentype"),
		url("../font/BlackHanSans-Regular.woff") format("woff"),
		url("../font/BlackHanSans-Regular.woff2") format("woff2"),
		url("../font/BlackHanSans-Regular.otf") format("opentype");
}

.blind{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  clip: (0, 0, 0, 0);
  clip-path: (50%);
  overflow: hidden;
}

.hidden{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
