body {
  font-family: GowunBatang, NtSans;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #fff;
}

header {
  position: fixed;
  left: 50%;
  top: 56px;
  width: 80%;
  height: 34px;
  z-index: 1000;
  transform: translateX(-50%);
}

header .menu_btn {
  position: absolute;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

header .menu_btn i {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
}

header .menu_btn i span {
  position: absolute;
  display: block;
  width: 16px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: all .2s;
}

header .menu_btn i span:first-child {
  transform-origin: center;
  top: 40%;
}

header .menu_btn i span:last-child {
  transform-origin: center;
  bottom: 40%;
}

header .menu_btn>span {
  margin-left: 20px;
  font-size: 14px;
}

header .menu_btn.on i span:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

header .menu_btn.on i span:last-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

header .contact_btn {
  position: absolute;
  right: 0;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  background-color: #0f0446;
  z-index: 100;
}

.nav.on {
  display: block;
}

.nav .gnb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav .gnb li{
  overflow: hidden;
}

.nav .gnb li a {
  display: block;
  font-size: var(--menuLi);
  line-height: 2;
  font-family: MapoDacapo;
  transition: color .4s;
}

.nav .gnb li a span {
  display: inline-block;
  vertical-align: top;
  font-size: var(--menuNum);
}

.nav .gnb li a:hover,
.nav .gnb li a:focus {
  color: rgba(255, 255, 255, .4);
}

.pagination {
  display: none;
  position: fixed;
  left: 4%;
  bottom: 5%;
  font-size: 12px;
  line-height: 18px;
  z-index: 10;
  transform-origin: left;
  transform: rotate(-90deg);
}

.pagination>* {
  float: left;
}

.pagination .page_wrap {
  margin-right: 20px;
}

.pagination .page_wrap span {
  display: inline-block;
  vertical-align: top;
}

.pagination .page_wrap span:nth-child(2) {
  opacity: .8;
}

.pagination .page_wrap span:nth-child(3) {
  opacity: .8;
}

.pagination .page_name {
  font-size: 18px;
}

.sc_contact{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/bg01.jpg') no-repeat center / cover;
  background-attachment: fixed;
}

.sc_contact::after{
  content: '';
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}

.sc_contact .content_area{
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 2;
  box-sizing: border-box;
}

.sc_contact .content_area h2{
  position: absolute;
  font-family: SFProsDP;
  font-weight: 700;
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 10;
}

.sc_contact .content_wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.sc_contact .content_wrap .contact_info{
  width: 50%;
}

.sc_contact .content_wrap .contact_info p{
  margin-bottom: 40px;
}

.sc_contact .content_wrap .contact_info p strong{
  display: block;
  line-height: 2;
  font-size: 20px;
  font-weight: 700;
}

.sc_contact .content_wrap .contact_info p a{
  position: relative;
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, .8);
  transition: color .4s;
}

.sc_contact .content_wrap .contact_info p a::before, .sc_contact .content_wrap .contact_info p a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
}

.sc_contact .content_wrap .contact_info p a::before{
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
}

.sc_contact .content_wrap .contact_info p a::after{
  width: 0;
  background-color: #fff;
  transition: width .4s;
}

.sc_contact .content_wrap .contact_info p a:hover::after, .sc_contact .content_wrap .contact_info p a:focus::after{
  width: 100%;
}

.sc_contact .content_wrap .contact_info p a:hover, .sc_contact .content_wrap .contact_info p a:focus{
  color: #fff;
}

.sc_contact .content_wrap .introduce{
  margin-top: 80px;
  font-size: 18px;
  line-height: 1.6;
}

