.sc_title {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/bg01.jpg') no-repeat center / cover;
  background-attachment: fixed;
}

.sc_bg {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100vh;
  background: no-repeat center / cover;
  background-attachment: fixed;
}

.sc_title_bg{
  background-image: url('../images/bg01.jpg');
}

.sc_title .img_wrap {
  position: absolute;
  width: 130px;
  height: 160px;
  left: 50%;
  transform: translateX(-50%);
  top: 18%;
  z-index: 100;
}

.sc_title .img_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  transition: all .5s;
}

.sc_title .title_area {
  position: absolute;
  top: 44%;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: MapoDacapo;
  font-size: 200px;
  font-style: italic;
  line-height: 1.2;
  overflow: hidden;
}

.sc_title .title_area h2 {
  margin: 0 auto;
}

.sc_title .announce {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.sc_title .announce span {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.sc_intro{
  position: relative;
  width: 100%;
  height: 100vh;
  background: no-repeat center /cover;
  background-attachment: fixed;
}

.first_int {
  background-image: url('../images/bg02.jpg');
}

.second_int {
  background-image: url('../images/bg03.jpg');
}

.third_int {
  background-image: url('../images/bg04.jpg');
}

.first_int_bg {
  background-image: url('../images/bg02.jpg');
}

.second_int_bg {
  background-image: url('../images/bg03.jpg');
}

.third_int_bg {
  background-image: url('../images/bg04.jpg');
}

.sc_intro .title_area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: MapoDacapo;
  font-size: 120px;
  line-height: 1.2;
  font-style: italic;
}

.sc_intro .title_area>* {
  position: relative;
  overflow: hidden;
  padding: 0 10px;
}

.sc_intro .title_area h2 {
  left: -20%;
}

.sc_intro .title_area h2 span {
  display: block;
}

.sc_intro .title_area p:nth-child(2) {
  text-align: center;
}

.sc_intro .title_area p:nth-child(3) {
  text-align: right;
  right: -20%;
}

.sc_intro .title_area p span {
  display: block;
}

.sc_intro .title_area strong {
  display: block;
  height: 140px;
  overflow: hidden;
}

.sc_intro .title_area strong span {
  display: block;
}

.sc_summary {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #0f0446;
}

.sc_summary .cnt_area {
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
}

.sc_summary .cnt_area_left {
  left: 0;
}

.sc_summary .cnt_area_right {
  right: 0;
}

.sc_summary .cnt_area_left .cnt_wrap {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}

.sc_summary .cnt_area_left .cnt01 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
  opacity: 0;
}

.sc_summary .cnt_area_right .cnt02 {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sc_summary .cnt_area_right .cnt02 .sub_title > span {
  display: block;
  font-size: 50px;
  font-family: GowunBatang;
  line-height: 1.4;
  font-style: italic;
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt02 .sub_title span span {
  display: block;
}

.sc_summary .cnt_area_right .cnt02 .description {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  font-size: 18px;
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt02 .description > span {
  display: block;
  width: 60%;
  line-height: 1.4;
  overflow: hidden;
  word-break: keep-all;
}

.sc_summary .cnt_area_left .cnt03 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sc_summary .cnt_area_left .cnt03 .img_cover {
  position: absolute;
  background: #0f0446;
  z-index: 3;
}

.sc_summary .cnt_area_left .cnt03 .img_cover.left {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.sc_summary .cnt_area_left .cnt03 .img_cover.right {
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.sc_summary .cnt_area_left .cnt03 .img_cover.top {
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
}

.sc_summary .cnt_area_left .cnt03 .img_cover.bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
}

.sc_summary .cnt_area_left .cnt03 .img_wrap {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #000;
  z-index: 4;
}

.sc_summary .cnt_area_left .cnt03 .img_wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  object-fit: cover;
}

.sc_summary .cnt_area_left .cnt04 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  z-index: 5;
}

.sc_summary .cnt_area_left .cnt04 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  object-fit: cover;
}

.sc_summary .cnt_area_right .cnt03 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/bg02.jpg') no-repeat center;
  background-size: cover;
}

.sc_summary .cnt_area_right .cnt03 .img_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt03 .img_wrap .cnt_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc_summary .cnt_area_right .cnt03 .img_cover {
  position: absolute;
  background: #0f0446;
  z-index: 10;
}

.sc_summary .cnt_area_right .cnt03 .img_cover.left {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.sc_summary .cnt_area_right .cnt03 .img_cover.right {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.sc_summary .cnt_area_right .cnt03 .img_cover.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.sc_summary .cnt_area_right .cnt03 .img_cover.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.sc_summary .cnt_area_right .cnt04 {
  display: none;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.sc_summary .cnt_area_right .cnt04 .title_wrap {
  font-family: GowunBatang;
  font-size: 50px;
  line-height: 1.4;
  font-style: italic;
}

.sc_summary .cnt_area_right .cnt04 .title_wrap p {
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt04 .title_wrap span {
  display: block;
}

.sc_summary .cnt_area_right .cnt04 .description {
  margin-top: 80px;
}

.sc_summary .cnt_area_right .cnt04 .description ul li {
  position: relative;
  line-height: 90px;
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt04 .description ul li::before, .sc_summary .cnt_area_right .cnt04 .description ul li::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
}

.sc_summary .cnt_area_right .cnt04 .description ul li::before {
  width: 100%;
  background-color: rgba(255, 255, 255, .4);
}

.sc_summary .cnt_area_right .cnt04 .description ul li::after {
  width: 0;
  background-color: #fff;
  transition: width .5s;
}

.sc_summary .cnt_area_right .cnt04 .description ul li:hover::after,
.sc_summary .cnt_area_right .cnt04 .description ul li:focus::after {
  width: 100%;
}

.sc_summary .cnt_area_right .cnt04 .description ul li p .num {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
}

.sc_summary .cnt_area_right .cnt04 .description ul li p .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
}

.sc_summary .cnt_area_right .cnt04 .link_renewal {
  margin-top: 160px;
  text-align: right;
}

.sc_summary .cnt_area_right .cnt04 .link_renewal a {
  position: relative;
  display: inline-block;
  font-style: italic;
  padding: 8px 2px;
  overflow: hidden;
}

.sc_summary .cnt_area_right .cnt04 .link_renewal a span{
  display: block;
}

.sc_summary .cnt_area_right .cnt04 .link_renewal a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width .4s;
}

.sc_summary .cnt_area_right .cnt04 .link_renewal a:hover::after, .sc_summary .cnt_area_right .cnt04 .link_renewal a:focus::after {
  width: 100%;
}